### Importing Data

In [1]:
import pandas as pd
import numpy as np

### Loading Data

In [2]:
data = pd.read_csv('/content/Mall_Customers.csv')

In [3]:
data.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

### Checking the Labels in the column

In [4]:
# converting categorical data like male/female to numerical data
data['Genre'].unique()  # finding unique labels

array(['Male', 'Female'], dtype=object)

### Checking count of each label

In [5]:
data['Genre'].value_counts()

Female    112
Male       88
Name: Genre, dtype: int64

### Approach-1: Label Encoding

In [6]:
#### Label encoder encodes labels with values between 0 and number_of_class - 1
from sklearn.preprocessing import LabelEncoder
label_encoder_X = LabelEncoder()

In [11]:
label_encoded_data = label_encoder_X.fit_transform(data['Genre'])  # transforming

In [12]:
label_encoded_data = pd.DataFrame(data = label_encoded_data, columns = ['Genre'])  # converting to data frame

In [13]:
label_encoded_data

     Genre
0        1
1        1
2        0
3        0
4        0
..     ...
195      0
196      0
197      1
198      1
199      1

[200 rows x 1 columns]

In [14]:
label_encoded_data['Genre'].unique()

array([1, 0])

### Approach-2 : One Hot Encoding

In [15]:
# Binary labelling with 1 at position where the label is present else 0
one_hot_encoded_data = pd.get_dummies(data, columns=['Genre'])

In [16]:
one_hot_encoded_data

,CustomerID,Age,Annual Income (k$),Spending Score (1-100),Genre_Female,Genre_Male
0,1,19,15,39,0,1
1,2,21,15,81,0,1
2,3,20,16,6,1,0
3,4,23,16,77,1,0
4,5,31,17,40,1,0
...,...,...,...,...,...,...
195,196,35,120,79,1,0
196,197,45,126,28,1,0
197,198,32,126,74,0,1
198,199,32,137,18,0,1
199,200,30,137,83,0,1